@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}

body .dark {
  background-color: #010e1ae8;
}

.about span,
.footer span {
  font-weight: 500;
  color: #0261e3;
}

.dark {
  .about span {
    color: #00e1ff;
  }

  .footer span {
    color: #00e1ff;
  }
}
